@font-face {
	font-family: lobster;
	src: url(../../vendor/fonts/Lobster-Regular.ttf);
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.nav>li.active>a {
text-decoration: none;
background-color: #eee;
}

#logo>h1,#logo>h2,#logo>h3,#logo>h4 {
	font-family: lobster;
	margin-top: 8px;
	font-size: 30px;
	font-weight: 500;
	line-height: 1.1;
}

.layoutTitle {
	/*text-shadow: 1px 3px 0px rgba(0, 0, 0, 1);*/
	/* margin-top: 3px; */
	color: #ffffff;
	margin-left: 30px;
}

body {
	overflow-x: hidden;
	font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 1.33;
	color: rgba(0, 0, 0, 0.8);
	font-smoothing: antialiased;
}

.navbar-brand {
	padding: 1px 0px;
}

.element {
	-webkit-box-reflect: below -5px
		-webkit-gradient(linear, left top, left bottom, from(transparent),
		to(rgba(255, 255, 255, 0.3)));
}

.favicon-anim [class*="icon-"],.font-awesome-anim [class*="fa fa-"] {
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	-o-transition-duration: 0.8s;
	transition-duration: 0.8s;
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	-o-transition-property: -o-transform;
	transition-property: transform;
}

.favicon-anim:hover [class*="icon-"],.font-awesome-anim:hover [class*="fa fa-"]
	{
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	.
	rotate
	(360deg);
}

.btn-circle.btn-lg {
	width: 40px;
	height: 40px;
	padding: 10px 10px;
	border-radius: 25px;
	font-size: 16px;
	line-height: 1.33;
	outline: none;
}

.btn-danger {
	background: #F44336;
	outline: none;
}

.page-wrapper {
	min-height: 317px;
	padding: 51px 0px 0px 0px;
	height: -moz-calc(100% - ( 51px));
	height: -webkit-calc(100% - ( 51px));
	height: calc(100% - ( 51px))
}

.sup-header {
	margin-bottom: 10px;
	background: rgba(245, 245, 245, 0.88);
	box-shadow: 0 0 2px #999;
}

.ui-view-wrapper {
	height: 100%;
}

.page-wrapper {
	padding: 51px 0px 0px 70px;
	height: calc(100% - ( 51px));
}

.page-content {
	height: calc(100% - ( 88px));
}

.table-inherit {
	width: inherit;
}

.bg-dark-green {
	background: #2b957a;
	color: #fff;
}

.border-dark-green {
	border-color: #2b957a;
}

.bg-blue {
	background-color: #2196F3;
	color: #fff;
}

.border-blue {
	border-color: #2196F3;
}

.code-mirror-page-content {
	/* height: calc(100%); */
	
}

.code-mirror-tab-wrapper {
	z-index: 1;
	right: 0;
	height: calc(100%);
	width: calc(100% - ( 40px));
	margin-left: 25px;
}

.code-mirror-tab-content {
	border: 1px solid #ddd;
	border-top: none;
	height: calc(100% - ( 80px));
}

.CodeMirror {
	height: 100%;
}

.code-menu {
	z-index: 1000;
	position: fixed;
	right: 0;
	top: 123px;
	height: calc(100% + 20px);
	width: 315px;
	background: rgba(245, 245, 245, 1);
	box-shadow: 0 0 2px #999;
	transform: translate(318px, 0px);
	-moz- transform: translate(318px, 0px);
	-webkit- transform: translate(318px, 0px);
	-o- transform: translate(318px, 0px);
	-webkit-transition-duration: 0.6s;
	-moz-transition-duration: 0.6s;
	-o-transition-duration: 0.6s;
	transition-duration: 0.6s;
}

.open {
	transform: translate(0px, 0px);
	-moz- transform: translate(0px, 0px);
	-webkit- transform: translate(0px, 0px);
	-o- transform: translate(0px, 0px);
	-webkit-transition-duration: 0.6s;
	-moz-transition-duration: 0.6s;
	-o-transition-duration: 0.6s;
	transition-duration: 0.6s;
}

.code-menu-header {
	width: 100%;
}

.code-menu-footer-wrapper {
	height: 53px;
	position: fixed;
	bottom: 133px
}

.code-menu-footer {
	width: 315px;
}

.code-menu-footer>.ui.button {
	border-right: #fff solid 1px;
	width: 79px;
	height: 53px;
	font-size: 19px;
	padding-top: 7px;
	font-weight: bold;
}

.code-menu-footer>.ui.button:active,.ui.active.button:active {
	font-size: 22px;
	color: #cccccc !important;
	box-shadow: 0px 0px 0px 1px transparent inset, 0px 1px 4px 0px
		rgba(39, 41, 43, 0.15) inset !important;
}

.project-explorer {
	padding: 20px 10px;
}

/* Fix for Bootstrap 3 with Angular UI Bootstrap */
.modal {
	display: block;
}

/* Custom dialog/modal headers */
.dialog-header-error {
	background-color: #d2322d;
}

.dialog-header-wait {
	background-color: #428bca;
}

.dialog-header-notify {
	background-color: #eeeeee;
}

.dialog-header-confirm {
	background-color: #333333;
}

.dialog-header-error span,.dialog-header-error h4,.dialog-header-wait span,.dialog-header-wait h4,.dialog-header-confirm span,.dialog-header-confirm h4
	{
	color: #ffffff;
}

/* Ease Display */
.pad {
	padding: 25px;
}

/*Default panel overriding*/
.panel.panel-default {
	border-top-width: 3px;
	border-bottom: 0;
	font-size: 14px;
	border-color: #cfdbe2;
	background-color: #fff;
}

.panel-default>.panel-heading {
	background-color: #fff;
	border-color: #fff;
}

.ui.form .field>label,.ui.dividing.header {
	color: #656565;
}

.panel-footer {
	background-color: #fff;
	border-bottom: 1px solid #ddd;
}

.ui.blue.ribbon.label {
	font-size: 14px;
}

.panel .panel-primary {
	border-color: #cfdbe2;
}

.panel-primary {
	border-color: #cfdbe2;
}

.panel-footer {
	border-top: 0px;
}

.panel .panel-heading {
	border-bottom: 0;
	font-size: 14px;
}

.panel-primary>.panel-heading {
	color: #fff;
	background-color: #5d9cec;
	border-color: #cfdbe2;
}

.panel-green {
	border-color: #cfdbe2;
}

.panel-green>.panel-heading {
	color: #fff;
	background-color: #37bc9b;
	border-color: #37bc9b;
}

.panel .panel-heading {
	border-bottom: 0;
	font-size: 14px;
}

.grey {
	background-color: #3a3f51;
	color: #fff !important;
}

.white {
	background-color: #fff;
	color: #000 !important;
}

.ui.card>.content>.header:not(.ui), .ui.cards>.card>.content>.header:not(.ui) {
  font-weight: 100;
  font-size: 1.28571429em;
  margin-top: -.21425em;
  line-height: 1.2857em;
}

.subhead {
	float: right;
	color: #656565;
	font-size: 14px;
	line-height: 1.52857143;
}