<super-header icon="icon-badge" header="Admin Panel"
	sub-header="Manage resources">
</super-header>

<div class="row" style="padding-left: 55px;padding-right: 20px;">
	<div class="col-lg-3 col-md-3 col-sm-12">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-3 favicon-anim">
						<i class="fa fa-tasks fa-5x"></i>
					</div>
					<div class="col-xs-9 text-right">
						<div class="huge">26</div>
						<div>Templates</div>
					</div>
				</div>
			</div>
			<a href="#">
				<div class="panel-footer bg-white">
					<span class="pull-left">View Details</span> <span
						class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
					<div class="clearfix"></div>
				</div>
			</a>
		</div>
	</div>
	<div class="col-lg-3 col-md-3 col-sm-12">
		<div class="panel panel-green">
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-3 favicon-anim">
						<i class="icon-present fa-5x"></i>
					</div>
					<div class="col-xs-9 text-right">
						<div class="huge">12</div>
						<div>Widgets</div>
					</div>
				</div>
			</div>
			<a href="#">
				<div class="panel-footer bg-white ">
					<span class="pull-left">View Details</span> <span
						class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
					<div class="clearfix"></div>
				</div>
			</a>
		</div>
	</div>
	
	<div class="col-lg-3 col-md-3 col-sm-12">
		<div class="panel panel-red">
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-3 favicon-anim">
						<i class="fa fa-code fa-5x"></i>
					</div>
					<div class="col-xs-9 text-right">
						<div class="huge">89</div>
						<div>Ng-Syntax</div>
					</div>
				</div>
			</div>
			<a href="#">
				<div class="panel-footer bg-white ">
					<span class="pull-left">View Details</span> <span
						class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
					<div class="clearfix"></div>
				</div>
			</a>
		</div>
	</div>
	
<div class="col-lg-3 col-md-3 col-sm-12">
		<div class="panel panel bg-brown">
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-3 favicon-anim">
						<i class="icon-notebook fa-5x"></i>
					</div>
					<div class="col-xs-9 text-right">
						<div class="huge">15</div>
						<div>Platform Pages</div>
					</div>
				</div>
			</div>
			<a ui-sref='.platfrom-pages'>
				<div class="panel-footer bg-white">
					<span class="pull-left">View Details</span> <span
						class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
					<div class="clearfix"></div>
				</div>
			</a>
		</div>
</div>

<div class="col-lg-3 col-md-3 col-sm-12">
		<div class="panel panel bg-teal">
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-3 favicon-anim">
						<i class="icon-magic-wand fa-5x"></i>
					</div>
					<div class="col-xs-9 text-right">
						<div class="huge">21</div>
						<div>Ng-Services</div>
					</div>
				</div>
			</div>
			<a href="#">
				<div class="panel-footer bg-white">
					<span class="pull-left">View Details</span> <span
						class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
					<div class="clearfix"></div>
				</div>
			</a>
		</div>
</div>

<div class="col-lg-3 col-md-3 col-sm-12">
		<div class="panel panel bg-light-blue">
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-3  favicon-anim">
						<i class="icon-puzzle fa-5x"></i>
					</div>
					<div class="col-xs-9 text-right">
						<div class="huge">8</div>
						<div>Ng-directives</div>
					</div>
				</div>
			</div>
			<a href="#">
				<div class="panel-footer bg-white">
					<span class="pull-left">View Details</span> <span
						class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
					<div class="clearfix"></div>
				</div>
			</a>
		</div>
</div>

<div class="col-lg-3 col-md-3 col-sm-12">
		<div class="panel panel bg-deep-orange">
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-3 favicon-anim">
						<i class="icon-globe-alt fa-5x"></i>
					</div>
					<div class="col-xs-9 text-right">
						<div class="huge">8</div>
						<div>Interpreters</div>
					</div>
				</div>
			</div>
			<a ui-sref='.interpreters'>
				<div class="panel-footer bg-white">
					<span class="pull-left">View Details</span> <span
						class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
					<div class="clearfix"></div>
				</div>
			</a>
		</div>
</div>

	
</div>