
<!-- Customized super Header -->
<div class="col-lg-12" style="padding: 0px">
	<div class="sup-header" style="float: left; width: 100%; height: 68px;">
		<div style="margin-left: 50px; width: 300px; float: left;">
			<blockquote class="text-muted favicon-anim">
				<h3 style="margin-top: 3px; margin-bottom: 2px;">
					<em class="icon-basket-loaded"></em> My Apps
				</h3>
				<footer>You can manage your apps here!</footer>
			</blockquote>
		</div>

		<div style="margin-right: 11px; margin-top: 20px; float: right;">
			<button class="btn btn-default favicon-anim"
				ng-click="codeMenuOpen = !codeMenuOpen" style="color: #fff; background: {{theme.background}}">
				<em class="fa fa-bars"></em>
			</button>
		</div>

	</div>
</div>
<!-- End of super header -->

<!-- CodeMirror with bootstrap tab integration -->
<div class="col-lg-12 code-mirror-page-content">

	<div class="row" style="height: 100%">
	
	   <!--Code Mirror Tab Wrapper - includes Right SideBar-->
		<div class="code-mirror-tab-wrapper">
			
			<!--Tabs here!-->
			<div style="height: 100%" ng-show="codeTabs.length > 0">
			<!--Tab Header  -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class='{{codeTab.active ? "active" :""}}'
						ng-repeat="codeTab in codeTabs" ng-click="activateTab($index)">
						<a href="#{{codeTab.id}}" target="_self"
						aria-controls="{{codeTab.id}}" role="{{codeTab.id}}"
						data-toggle="tab"> {{codeTab.title}} &nbsp; 
						<i class='{{codeTab.active ? "fa fa-times" : ""}}'
							ng-click="closeTab($event, $index)" style="cursor: pointer;"></i>
					</a>
					</li>
				</ul>
			<!--End of Tab header  -->	
			
			<!--Tab Content  -->	
				<div class="tab-content code-mirror-tab-content" >
					<div role="tabpanel" ng-repeat="codeTab in codeTabs"
						style="height: 100%"
						class='tab-pane fade {{codeTab.active ? "in active" :""}}'
						id="{{codeTab.id}}">
						
						<!--The Code Mirror Here!  -->
						<div ui-codemirror="codeMirrorConfig"
							  ng-model = "codeTab.content" style="height: 100%"></div>
						<!--End of Code Mirror -->
						
					</div>
				</div>
			<!--End Tab Content  -->	

		</div>
		<!--End of Tab Wrapper-->


		<!--Right SideBar here! (Menu) -->
		<div class="code-menu" ng-init="codeMenuOpen = true; codeMenuView = 'projectExplorer' " ng-class='codeMenuOpen?"open":""'>

			<!--SideBar Header-->
			<div class="code-menu-header">
				<div class="ui buttons">
					<div  class="ui button favicon-anim" 
						  ng-click="codeMenuView = 'widgetPallet'"
						  ng-style="codeMenuView  === 'widgetPallet' ? {'background': '{{theme.background}}', 'color' : '#fff'} : {}">
						<i class="icon-present"></i>&nbsp;Widget Pallet
					</div>
					<div class="or"></div>
					<div class="ui button favicon-anim" 
						 ng-click="codeMenuView = 'projectExplorer'"
						 ng-style="codeMenuView  === 'projectExplorer' ? {'background': '{{theme.background}}', 'color' : '#fff'} : {}"
						 style="margin-right: -16px;width: 170px;"><i class="icon-list"></i>&nbsp;Project Explorer
					</div>
				</div>
			</div>
			<!--End of SideBar Header-->
		
	    <!--SideBar Body here  -->	
		<div class="code-body">
			<div class="project-explorer" ng-show="codeMenuView  === 'projectExplorer'">
			    <div ng-show="treeData.length <= 0">
			    <i class="fa fa-spinner fa-pulse"></i> Loading Project files...
			    </div>
				<div ng-if="treeData.length > 0" id = "treeid" js-tree="treeConfig" should-apply="applyModelChanges()" ng-model="treeData"
	                          tree-events="ready:treeReady; select_node:selectNodeCallBack; dblclick:dblClickCallback">
	             </div>
             </div>
		</div>
		 <!--End of SideBar Body -->	
			
		<!--SideBar Footer here-->
		<div class="code-menu-footer-wrapper">
			<div class="ui icon buttons code-menu-footer" ng-show="codeMenuView  === 'projectExplorer'">
				  <div class="ui  button" ng-click="launchDialog('error')" style="color:#fff;background: {{theme.background}}"><i class="fa fa-folder-open"></i></div>
				  <div class="ui  button" ng-click="launchDialog('notify')" style="color:#fff; background: {{theme.background}}"><i class="fa fa-file-code-o"></i></div>
				  <div class="ui  button" ng-click="launchDialog('confirm')" style="color:#fff; background: {{theme.background}}"><i class="fa fa-trash-o"></i></div>
				  <div class="ui  button" ng-click="launchDialog('error')" style="color:#fff; width:79px;  margin-right: -2px; background: {{theme.background}}"><i class="fa fa-upload"></i></div>
			</div> 
		</div>
		<!--End of SideBar Footer-->

		</div>
		<!-- End of Right SideBar -->

	</div>
	 <!--End of Code Mirror Tab Wrapper - includes Right SideBar-->

</div><!--End of Row-->
</div><!--End of col-lg-->
